body {
  font-family: "Arial", "Meiryo", sans-serif;
}

html {
  font-size: 20px;
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgb(115, 115, 114);
}

body {
  text-align: center;
}

#basic p {
  font-weight: bold;
}