/* -------------------------
   一番上の図形（top）
------------------------- */
#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
  /* 上下余白20px、中央寄せ */
  text-align: center;
  /* 中のpを中央揃え */
  display: flex;
  justify-content: center;
  /* 横並び中央寄せ */
  gap: 10px;
  /* p同士の間隔 */
}

.top-child {
  width: 20%;
  /* 親要素の20% */
  background-color: #ffd9df;
}

/* -------------------------
   真ん中の図形（middle）
------------------------- */
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
  margin: 20px auto;
  /* 上下20px、中央寄せ */
  position: relative;
  /* 子要素の絶対位置指定の基準 */
}

#middle-child01,
#middle-child02,
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
}

#middle-child01 {
  top: 100px;
  left: 100px;
}

#middle-child02 {
  top: 300px;
  left: 300px;
}

#middle-child03 {
  top: 500px;
  left: 500px;
}

/* -------------------------
   一番下の図形（bottom）
------------------------- */
#bottom {
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin: 20px auto;
  /* 中央寄せ */
  position: relative;
  /* 子要素の絶対位置指定の基準 */
}

#bottom-child01,
#bottom-child02,
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: absolute;
  /* 上端に揃える */
}

#bottom-child01 {
  top: 0px;
  left: 0px;
}

#bottom-child02 {
  top:100px;
  left: 200px;
  /* 200px右にずらす */
}

#bottom-child03 {
  top: 200px;
  left: 400px;
}